<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backend-appt</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- <h2 class="header">Products page</h2> -->
    <div> 
        <div class="header">
            <h1 >My Store</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Products">Products</a></li>
                <li><a href="./users">Users</a></li>
                <li>Login</li>
                <li>Logout</li>
            </ul>
        </div>
            <div>    <%- body %> </div>
          <div class="footer">&copy ;2026. All right reserved</div>
     </div>
    <!-- <div class="footer">
        2026 copy right reserved
    </div> -->

    
</body>
</html>