<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2 class="header">Products page</h2>
     <%- body %>
    <div class="footer">
        2026 copy right reserved
    </div>

    
</body>
</html>