
<h2>Add User</h2>

<form action="/users/add" method="POST">

<input type="text" name="name" placeholder="Name">

<input type="email" name="email" placeholder="Email">

<input type="password" name="password" placeholder="Password">

<!-- <select name="role">
<option value="user">User</option>
<option value="admin">Admin</option>
</select> -->

<button type="submit">Add User</button>

</form>