<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add product Form</h2>
    <form action="/products/add" method="POST">
        <P><input type="text" name="name" placeholder="product name"></P>
         <P><input type="number" name="price"placeholder="price"></P>
          <P><input type="text"  name="desc"placeholder="Description"></P>
           <P><input type="text" name="imageUrl" placeholder="ImageUrl"></P>
           <p><button>Submit</button></p>
    </form>
</body>
</html>